@import "tailwindcss";

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	width: 100%;
	height: 100%;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: linear-gradient(to bottom right, #98999c, #f6f7fa);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* border: 2px solid #000; */

	--white-gold: linear-gradient(
		135deg,
		#e9dbaf,
		#fff8dc
	); /* Gradient white-gold color */
	--white-gold-shiny: radial-gradient(
		circle,
		#fff8dc,
		#e9dbaf,
		#d4c28a
	); /* Shiny effect */
	--dark-blue: #52576b; /* Dark blue for nav and sidebar */
}

body {
	background: linear-gradient(to bottom right, #a9acb6, #f6f7fa);
	color: #1f2937;
	margin: 0;
	padding: 0;
	/* display: flex; */
}

.text-gold-500 {
	color: #ece2a6;
}

.font-bold {
	font-weight: bold;
}

.transition-transform {
	transition: transform 0.3s ease-in-out;
}

.bg-white {
	background-color: rgb(226, 230, 238);
}

.rounded-lg {
	border-radius: 0.5rem;
}

.shadow-lg {
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

.text-white-gold,
.text-4xl {
	background: var(--white-gold-shiny);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.skills{
    background-color: aliceblue;
	width: 1400px;
	height: 900px;
	
}

.navb {
	background: var(--dark-blue);
	border-width: 2px;
	border-style: solid;
	border-image: var(--white-gold-shiny) 1;
}

.main-content {
	margin-top: 4rem; /* Adjust for Navbar height */
	margin-left: 12rem; /* Adjust for Sidebar width */
	padding: 1rem; /* Add padding for better spacing */

}

/* .projects-container, */
.card {
	padding-right: 5rem;
	margin-right:150px ; /* Add padding to avoid overlap with SocialMedia */
}

@media (min-width: 1024px) {
	.main-content {
		margin-left: 16rem; /* Adjust for sidebar width */
		padding-top: 0; /* No padding needed for desktop */
	}
}

@media (max-width: 1023px) {
	.main-content {
		margin-left: 0; /* Remove Sidebar margin for smaller screens */
	}
}

@media (max-width: 767px) {
	/* Smartphone styles */
	.navbar {
		display: none;
	}
	.sidebar {
		display: flex;
		flex-direction: column;
	}
	.main-content {
		margin-top: 6rem; /* Adjust for MobileView height */
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	/* Tablet styles */
	.navbar {
		display: flex;
		justify-content: center;
		padding: 1.5rem;
	}
	.sidebar {
		display: none;
	}
}

@media (min-width: 1024px) {
	/* Desktop styles */
	.navbar {
		display: flex;
		justify-content: space-between;
		padding: 1rem;
	}
	.sidebar {
		display: none;
	}
}
